.screen-header {
    display: flex;
    justify-content: space-between;
    padding: var(--horizontal-space);
    align-items: center;
}
.screen-header__title {
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 15px;
}
.screen-header__icons span {
    margin-left: 25px;
    font-size: 16px;
}
.screen-header__icons {
    position: relative;
}
.screen-header__icons .fa-cog:hover {
    animation: cogAni 2s linear infinite;
}
@keyframes cogAni {
    from {
        transform: none;
    }
    to {
        transform: rotateZ(360deg);
    }
}
.cog-dot {
    display: flex;
    position: absolute;
    background-color: tomato;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    left: 75px;
    bottom: 20px;
}
.screen-header__icons a {
    color: black;
}